
  <div class="col-4 py-2">
    <div class="card bg-black bg-opacity-25 text-light border-0">
      <div class="card-body">
        <h5 class="card-title fs-6 mb-2"><%= movie.name %></h5>
        <%= link_to "Show this movie", movie, class: "btn btn-outline-warning btn-sm mt-3" %>
      </div>
    </div>
  </div>
