<p style="color: green"><%= notice %></p>

<div class="container">
  <div class="d-flex justify-content-between">
    <h1 class="text-light fs-4">Clients</h1>

    <%= link_to "New client", new_client_path, class: "btn btn-warning fw-bold btn-sm mb-3" %>

  </div>

  <div id="clients">
    <table class="table table-bordered text-center">
      <thead>
        <tr class="text-white bg-black bg-opacity-50">
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Movie</th>
          <th scope="col" colspan="2">Options</th>
        </tr>
      </thead>
      <tbody class="text-white">
        <% @clients.each do |client| %>
          <%= render client %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
